# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# Tori.fi Configuration
TORI_SEARCH_URL=https://www.tori.fi/koko_suomi?q=
TORI_BASE_URL=https://www.tori.fi

# Notification Settings
MIN_PRICE=0
MAX_PRICE=1000
CHECK_INTERVAL=300000 # 5 minutes in milliseconds 

TORI_SEARCH_QUERY=macbook pro
TORI_PRODUCT_CATEGORY=2.93.3215.44
BUYER_REQUIREMENTS="should be a very significant improvement over my Thinkpad T470, i5-7200U, 8 GB, Win 10 Pro, which is very slow when having Cursor, Spotify, Chrome, etc. open at the same time"
